<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input Page</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body style=" margin: 5px;padding:30px;">
    <h2 class="marquee"><span><i>Welcome to Grocery Online</i></span></h2>
    <img align="center" src="static/logo.jpg" alt="Logo" width="200" style="height:auto;display:block;" /><br>
    <h3>List Of All Items:</h3>
    <table class="table">
        <tr class="table__header">
            <th class="table__cell">Item Code</th>
            <th class="table__cell">Item Name</th>
            <th class="table__cell">Quality-1</th>
            <th class="table__cell">Quality-2</th>
            <th class="table__cell">Quality-3</th>
        </tr>
        <tr class="table__row">
            <td class="table__cell">101A</td>
            <td class="table__cell">Brown rice</td>
            <td class="table__cell">50</td>
            <td class="table__cell">45.50</td>
            <td class="table__cell">41.25</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">102B</td>
            <td class="table__cell">Whole wheat</td>
            <td class="table__cell">30</td>
            <td class="table__cell">27.45</td>
            <td class="table__cell">21.50</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">102C</td>
            <td class="table__cell">Tomato sauce</td>
            <td class="table__cell">25.50</td>
            <td class="table__cell">20.25</td>
            <td class="table__cell">18.70</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">103D</td>
            <td class="table__cell">Mustard</td>
            <td class="table__cell">40</td>
            <td class="table__cell">39.45</td>
            <td class="table__cell">37</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">104E</td>
            <td class="table__cell">Barbecue sauce</td>
            <td class="table__cell">45</td>
            <td class="table__cell">43</td>
            <td class="table__cell">41.50</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">105F</td>
            <td class="table__cell">Red-wine vinegar</td>
            <td class="table__cell">4000</td>
            <td class="table__cell">3800</td>
            <td class="table__cell">3750</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">106G</td>
            <td class="table__cell">Salsa</td>
            <td class="table__cell">200</td>
            <td class="table__cell">189.50</td>
            <td class="table__cell">170</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">107H</td>
            <td class="table__cell">Extra virgin olive oil</td>
            <td class="table__cell">500</td>
            <td class="table__cell">478.50</td>
            <td class="table__cell">455.70</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">108I</td>
            <td class="table__cell">canola oil</td>
            <td class="table__cell">200</td>
            <td class="table__cell">180</td>
            <td class="table__cell">118</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">109J</td>
            <td class="table__cell">Hot pepper sauce</td>
            <td class="table__cell">100</td>
            <td class="table__cell">98.5</td>
            <td class="table__cell">91.25</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">101K</td>
            <td class="table__cell">Bananas</td>
            <td class="table__cell">60</td>
            <td class="table__cell">55</td>
            <td class="table__cell">50</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">111L</td>
            <td class="table__cell">Apples</td>
            <td class="table__cell">300</td>
            <td class="table__cell">250</td>
            <td class="table__cell">120</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">112M</td>
            <td class="table__cell">Oranges</td>
            <td class="table__cell">200</td>
            <td class="table__cell">140</td>
            <td class="table__cell">110</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">113N</td>
            <td class="table__cell">Mangoes</td>
            <td class="table__cell">100</td>
            <td class="table__cell">80</td>
            <td class="table__cell">50</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">114O</td>
            <td class="table__cell">Strawberries</td>
            <td class="table__cell">100</td>
            <td class="table__cell">90</td>
            <td class="table__cell">80</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">115P</td>
            <td class="table__cell">Blueberries</td>
            <td class="table__cell">95</td>
            <td class="table__cell">80</td>
            <td class="table__cell">75</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">116Q</td>
            <td class="table__cell">Green tea</td>
            <td class="table__cell">250</td>
            <td class="table__cell">225</td>
            <td class="table__cell">200</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">117R</td>
            <td class="table__cell">Sparkling water</td>
            <td class="table__cell">20</td>
            <td class="table__cell">14.5</td>
            <td class="table__cell">11</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">118S</td>
            <td class="table__cell">Dried apricots</td>
            <td class="table__cell">270</td>
            <td class="table__cell">250</td>
            <td class="table__cell">230</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">119T</td>
            <td class="table__cell">Dried figs</td>
            <td class="table__cell">100</td>
            <td class="table__cell">95</td>
            <td class="table__cell">90</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">120U</td>
            <td class="table__cell">Dried prunes</td>
            <td class="table__cell">90</td>
            <td class="table__cell">85</td>
            <td class="table__cell">80</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">121V</td>
            <td class="table__cell">Almonds</td>
            <td class="table__cell">900</td>
            <td class="table__cell">870</td>
            <td class="table__cell">850</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">122W</td>
            <td class="table__cell">Cashews</td>
            <td class="table__cell">1000</td>
            <td class="table__cell">950</td>
            <td class="table__cell">910</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">123X</td>
            <td class="table__cell">Walnuts</td>
            <td class="table__cell">800</td>
            <td class="table__cell">770</td>
            <td class="table__cell">720</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">124Y</td>
            <td class="table__cell">Peanuts</td>
            <td class="table__cell">400</td>
            <td class="table__cell">380</td>
            <td class="table__cell">360</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">125Z</td>
            <td class="table__cell">Pecans</td>
            <td class="table__cell">350</td>
            <td class="table__cell">320</td>
            <td class="table__cell">300</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">201A</td>
            <td class="table__cell">Pistachios</td>
            <td class="table__cell">1200</td>
            <td class="table__cell">1180</td>
            <td class="table__cell">1160</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">202B</td>
            <td class="table__cell">Sunflower seeds</td>
            <td class="table__cell">150</td>
            <td class="table__cell">112</td>
            <td class="table__cell">50</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">203C</td>
            <td class="table__cell">Sesame seeds</td>
            <td class="table__cell">120.50</td>
            <td class="table__cell">110.40</td>
            <td class="table__cell">103.45</td>
        </tr>
        <tr class="table__row">
            <td class="table__cell">204D</td>
            <td class="table__cell">Whole flaxseeds</td>
            <td class="table__cell">90.2</td>
            <td class="table__cell">90.45</td>
            <td class="table__cell">89.20</td>
        </tr>
    </table>

    <h3>Enter Your Name And Mobile Number:</h3>
    <form name="info" action="/input" method="post">
        <table class="table">
            <tr class="table__row">
                <th class="table__header">Name</th>
                <th class="table__header">Mobile Number</th>
            </tr>
            <tr class="table__bottom">
                <td class="table__cell"><input type="text" name="name" placeholder="Enter Your Name"></td>
                <td class="table__cell"><input type="text" name="mob" minlength="10" maxlength="10" placeholder="Enter Mobile Number"></td>
            </tr>
        </table>
        <input type="submit" value="Validate" class="button">
    </form>

</body>
</html>